@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.centered {
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.grey {
  filter: grayscale(100%);
  opacity: 25%;
}

.number {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.head {
  font-size: 3em;
}

.setup {
  visibility: hidden;
}

.play {
  visibility: hidden;
}

.endgame {
  visibility: hidden;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.selected {
  border-radius: 20px;
  background: white;
}

.App {
  background-color: goldenrod;
  height: 100vh;
  max-height: 100vh;
  font-family: 'Indie Flower', cursive;
  font-size: calc(3vh);
  display: grid;
}

@media screen and (max-aspect-ratio: 3/4) {
  .App {
    max-height: calc(90vh - 70px);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(45vh - 35px) calc(45vh - 35px);
    background-color: goldenrod;
    font-size: calc(3vw);
  }

  .Backwards {
    grid-row: 2;
    grid-column: 1;
    flex-direction: column-reverse;
    border-top: 0.5em solid gold;
    max-height: calc(45vh - 35px);
  }

  .Forwards {
    grid-row: 2;
    grid-column: 2;
    flex-direction: column-reverse;
    border-top: 0.5em solid gold;
    max-height: calc(45vh - 35px);
  }

  .Hazards {
    padding-bottom: 1em;
  }

  .Card {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .Yeah {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .Nah {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .mobileHide {
    display: none;
  }

  .head {
    font-size: 15vw;
  }
}

@media screen and (min-aspect-ratio: 3/4) {
  .App {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .Backwards {
    grid-row: 1;
    grid-column: 1;
    flex-direction: column;
  }

  .Forwards {
    grid-row: 1;
    grid-column: 4;
    flex-direction: column;
  }

  .Card {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .Yeah {
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .Nah {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}