@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.centered {
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.grey {
  filter: grayscale(100%);
  opacity: 25%;
}

.number {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.head {
  font-size: 2em;
}

.setup {
  visibility: hidden;
}

.play {
  visibility: visible;
}

.endgame {
  visibility: hidden;
}

.invisible {
  opacity: 0;
}

.invisible:active {
  opacity: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.App {
  background-color: goldenrod;
  height: 100vh;
  max-height: 100vh;
  font-family: 'Indie Flower', cursive;
  font-size: calc(3vmin);
  display: grid;
}

@media screen and (max-aspect-ratio: 3/2) {
  .App {
    max-height: calc(90vh - 70px);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1em 40vh 40vh auto;
    background-color: goldenrod;
  }

  .Backwards {
    grid-row: 3;
    grid-column: 1;
  }

  .Forwards {
    grid-row: 3;
    grid-column: 2;
  }

  .Card {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .Yeah {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .Nah {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 5;
  }
}

@media screen and (min-aspect-ratio: 3/2) {
  .App {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .Backwards {
    grid-row: 1;
    grid-column: 1;
  }

  .Forwards {
    grid-row: 1;
    grid-column: 4;
  }

  .Card {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .Yeah {
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .Nah {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}