.Yeah {
    z-index: 3;
    background-color: forestgreen;
    font-size: 5em;
    text-align: center;
}

.Nah {
    z-index: 3;
    background-color: gold;
    font-size: 5em;
    text-align: center;
}