.Card {
    z-index: 1;
    grid-row-start: 1;
    grid-row-end: 10;
    grid-column-start: 4;
    grid-column-end: 10;
    background-color: beige;
    color: black;
    padding: 1em;
    margin: 1em;
    border-radius: 25vw 2vw 25vw 2vw/2vw 25vw 2vw 25vw;
    border: 0.25em black solid;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-columns: 1fr 7fr 1fr;
}

.Value {
    grid-row: 3;
    grid-column: 3;
}

.Title {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 2em;
}

.FlavourText {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}