.Forwards {
    z-index: 2;
    color: midnightblue;
    min-width: 10vw;
    padding: 1em;
    margin: 1em;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.playerList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-aspect-ratio: 4/5) {
    .Forwards {
        margin: 0;
        align-items: flex-end;
    }

    .playerList {
        display: flex;
    }
}