.Landing {
    z-index: 5;
    color: black;
    grid-row-start: 1;
    grid-row-end: 200;
    grid-column-start: 1;
    grid-column-end: 100;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 4em;
    margin: 0;
    padding: 0;
}

input {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 5vw 15vw 5vw 15vw/15vw 5vw 15vw 5vw;
    border-style: none;
    background: yellow;
    text-align: center;
    font-size: 1em;
    width: 10em;
}

#lobbyMessage {
    font-size: 2em;
    padding: 1em;
}

#enterGame {
    cursor: pointer;
    font-size: 2em;
    margin: 0.75em;
    padding: 0.25em;
    border-radius: 5vw 15vw 5vw 15vw/15vw 5vw 15vw 5vw;
    background-color: gold;
}

#startGame {
    cursor: pointer;
    display: none;
    font-size: 2em;
    margin: 0.75em;
    padding: 0.25em;
    border-radius: 5vw 15vw 5vw 15vw/15vw 5vw 15vw 5vw;
    background-color: green;
}

@media screen and (max-aspect-ratio: 3/2) {
    input {
        font-size: 1.5em;
    }
}